#SceneDefault {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color: transparent;
	background-image : url('');
}
#proyects {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    min-height: 100%;
    padding-top: 10px;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    float: right;
    z-index: 97;
}

#tvsignal
{
	position : fixed;
	float:center;
	left : 0px;
	top : 0px;
	width: 1280px;
	height: 720px;
	background-color: white;
	z-index: -1;
}

#SceneDefault #info2{
	position : absolute;
	font-size : 10pt;
	color : #000000;
	left : 80px;
	top : 130px;
	width : 711px;
}
#SceneDefault #info{
	position : absolute;
	font-size : 10pt;
	color : #000000;
	left : 140px;
	top : 144px;
	width : 130px;
}
#SceneDefault #svecLabel_5i7pmu3edgpr6{
	position : absolute;
	font-size : 10pt;
	color : #000000;
	left : 20px;
	top : 229px;
	width : 531px;
}
