#SceneLogin {
	position : fixed;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
	z-index: -1;
	display:inline-block;
}

#SceneLogin #errorL{
	position : absolute;
	left : 440px;
	top : 260px;
	width: 400px;
	background-color: black;
	text-align: center;
	background-color: #c13d3d;
	color: #ffffff;
	font: small-caps 2em Bitter, arial, sans-serif;
	padding-top: 20px;
	opacity: 0.95;
	padding-bottom: 0.8em;
}

#SceneLogin #infoOKLogin{
  	position : absolute;
	left : 126px;
	top : 685px;
	height: 30px;
	width: 1027px;
  	background-color: black;
  	padding-bottom: 5px;
  	color: white;
  	font: small-caps 1em Bitter, arial, sans-serif;
  	text-align: center;
  }
  

#SceneLogin #body_login{
	width : 80%;
	height : 100%;
	background-image : url('../../images/login.jpg');
	background-size: cover;
	float: right;
	-moz-box-shadow: 0 0 1em #000000;
	-webkit-box-shadow: 0 0 1em #000000;
	box-shadow: 0 0 1em #000000;
	}
	
#SceneLogin #ish12I{
	position : relative;
	left : 0px;
	top : 40%;
	text-align: center;
	color: white;
	opacity: 0.5;
	font-family: Bitter, arial, sans-serif;
	}

#SceneLogin #toInfo{
	width : 10%;
	height : 100%;
	background-color : #313131;
	float: left;
	}

#SceneLogin #ish1{
	position : relative;
	left : 0px;
	top : 40%;
	text-align: center;
	color: white;
	opacity: 0.5;
	font-family: Bitter, arial, sans-serif;
	}
	
#SceneLogin #ish2{
	text-align: left;
	color: black;
	opacity: 0.9;
	font: 3.5em Bitter, arial, sans-serif;
}
	
#SceneLogin #new {
	text-align: center;
	color: white;
	opacity: 0.6;
	font: small-caps 0.5em Bitter, arial, sans-serif;
}

#SceneLogin #new2 {
	text-align: center;
	color: white;
	opacity: 0.6;
	font: small-caps 0.5em Bitter, arial, sans-serif;
}

#SceneLogin #overH2{
	position: relative;
	z-index : 97;
	width: 40%;
	float: left;
	margin-left: 10%;
	padding-top: 2%;
	}
	
#SceneLogin #overLogo{
	position : relative;
	z-index : 97;
	width: 30%;
	float: right;
	opacity: 0.9;
	text-align: right;	
	padding-top: 2em;
	margin-right: 5%;
	}

#SceneLogin #toReg{
	width : 10%;
	height : 100%;
	background-color : #313131;
	float: right;
}

#SceneLogin #password{
	position : absolute;
	left : 210px;
	top : 310px;
	width : 250px;
}
#SceneLogin #user{
	position : absolute;
	left : 210px;
	top : 210px;
	width : 250px;
}
#SceneLogin #lUsuario{
	position : absolute;
	opacity : 0.9;
	font : 15pt Bitter, arial, sans-serif;
	color : #000000;
	left : 240px;
	top : 190px;
	width : 258px;
}
#SceneLogin #lPass{
	position : absolute;
	opacity : 0.9;
	font : 15pt Bitter, arial, sans-serif;
	color : #000000;
	left : 240px;
	top : 290px;
	width : 130px;
}
